/* app css stylesheet */
body {
  padding: 5px;
  background: #fafafa;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
#mainContent{
  margin-top: 107px;
}
.panel{
  background: #f9f9f9;
  border: #ccc 1px solid;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  line-height: 1.8em;
}
h5{
  margin: 10px,0;
  padding: 5px,0;
  background: #f4f4f4;
  padding:10px;
}

table label{
  //margin-left: 10px; 
}

.auth-section {
  text-align: center;
}

input[type=text] {
    width: 23%;
    padding: 8px 12px;
    margin: 10px 3px;
    box-sizing: border-box;
}
.drpdwn {
    padding: 7px;
    margin: 0 0px 10px 5px;
    border-radius: 5px;
    background: #fff;
}
.ratings-label:first-child { 
  margin-left: 0px; 
}
.ratings-label {
  margin-left: 20px;
}
.radio-label {
    padding: 5px;
    font-style: italic;
    font-weight: normal;
}
.submit-btn {
  margin-top: 10px; 
}


.reports-wrapper .jumbotron{
  margin-top: 30px;
}

.chart-wrapper {
  max-width: 400px;
  margin: 0 auto;
}